html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: rgb(0, 107, 108);

    background-color: rgb(218, 255, 246);
}

a {
    color: #1a4c92;
}

.container {
    margin: 0 auto;
    padding: 120px 64px;
}

h1 {
    margin: 0 0 16px;

    font-size: 48px;
    line-height: 1.25;
    text-align: center;
}

h2 {
    margin: 0 0 120px;

    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.cards__item {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 240px;
    height: 320px;

    text-decoration: none;

    border-radius: 8px;
    background-color: rgb(0, 107, 108);

    transition: transform 400ms;
    counter-increment: inst;
}

.cards__item::before {
    content: counter(inst);

    position: absolute;
    z-index: 10;
    top: -50px;
    left: -10px;

    font-size: 80px;
    line-height: 1.25;
    font-weight: 700;
    text-shadow: 2px 2px 6px #000;
    color: rgb(0, 107, 108);
}

.cards__item:hover {
    transform: scale(1.05);
}

.cards__item-image-container {
    width: 100%;
    height: 258px;
    margin: 0;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    overflow: hidden;
}

.cards__item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 8px 16px;

    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    color: #fff;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.cards__item--pomodoro .cards__item-image-container {
    background-image: url('./images/1_pomodoro.png');
}

.cards__item--e-commerce .cards__item-image-container {
    background-image: url('./images/2_e-commerce.png');
}

.cards__item--piano .cards__item-image-container {
    background-image: url('./images/3_piano.png');
}

.cards__item--keyboard .cards__item-image-container {
    background-image: url('./images/4_keyboard.png');
}

.cards__item--podcast .cards__item-image-container {
    background-image: url('./images/5_podcast.png');
}

.cards__item--range-slider .cards__item-image-container {
    background-image: url('./images/6_range-slider.png');
}

.cards__item--tip-calculator .cards__item-image-container {
    background-image: url('./images/7_tip-calculator.png');
}

.cards__item--weather-forecast .cards__item-image-container {
    background-image: url('./images/8_weather-forecast.png');
}

.cards__item--image-carousel .cards__item-image-container {
    background-image: url('./images/9_image-carousel.png');
}

.cards__item--code-verifier .cards__item-image-container {
    background-image: url('./images/10_code-verifier.png');
}

.cards__item--faq .cards__item-image-container {
    background-image: url('./images/11_faq.png');
}

.cards__item--rock-paper-scissors .cards__item-image-container {
    background-image: url('./images/12_rock-paper-scissors.png');
}

.cards__item--custom-modal .cards__item-image-container {
    background-image: url('./images/13_custom-modal.png');
}

.cards__item--calendar .cards__item-image-container {
    background-image: url('./images/14_calendar.png');
}

.cards__item--youtube-video-gallery .cards__item-image-container {
    background-image: url('./images/15_youtube-video-gallery.png');
}

.cards__item--star-rating .cards__item-image-container {
    background-image: url('./images/16_star-rating.png');
}

.cards__item--table-of-contents .cards__item-image-container {
    background-image: url('./images/17_table-of-contents.png');
}
